<!--=============== NAVBAR ===============-->
<nav class="nav">
    <ul class="nav__list">
        <a href="<%= root_path %>" class="nav__link">
            <i class="ri-home-5-line"></i>
            <span class="nav__name">
                Home
            </span>
        </a>

        <a href="<%= eventos_path %>" class="nav__link">
            <i class="ri-calendar-event-line"></i>
            <span class="nav__name">
                Calendar
            </span>
        </a>

        <a href="<%= anotacaos_path %>" class="nav__link">
            <i class="ri-booklet-line"></i>
            <span class="nav__name">
                Notes
            </span>
        </a>

        <a href="<%= about_index_path %>" class="nav__link">
            <i class="ri-user-line"></i>
            <span class="nav__name">
                About
            </span>
        </a>
    </ul>
</nav>