<!-- Formulário para Novo Evento -->
<h2>Novo Evento</h2>

<%= render "form", evento: @evento %>

<div>
  <%= link_to "Show this evento", @evento %> |
  <%= link_to "Back to eventos", eventos_path %>
</div>
