<div id="<%= dom_id anotacao %>">
  <p>
    <strong>Nome:</strong>
    <%= anotacao.nome %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= anotacao.descricao %>
  </p>

  <p>
    <strong>Data:</strong>
    <%= anotacao.data %>
  </p>

</div>
